.prices {
    position: relative;
    padding: 100px 0 50px;
    & .marquee-group {
        z-index: 0;
        position: absolute;
        background: transparent;
        gap: 10px;
        & .marquee {
            animation-duration: 200s;
            font-weight: 300;
            font-size: $text-48;
            line-height: 120%;
            text-transform: uppercase;
            color: #E7E7E7;
        }
    }
    & .marquee-group:nth-child(1) {
        top: 0;
    }
    & .marquee-group:nth-child(2) {
        top: 60px;
    }
    & .marquee-group:nth-child(3) {
        top: 120px;
    }
    & .container {
        position: relative;
        z-index: 1;
        & .yellow-btn {}
    }
}

.date {
    margin: 0 0 40px 0;
    & h3 {
        font-weight: 800;
        font-size: 120px;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
    }
    &-num {
        position: relative;
        & p {
            position: absolute;
            top: 82%;
            left: -2%;
            font-weight: 800;
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-4.19deg);
            background: #161616;
            padding: 12px 14px;
        }
    }
}

.pay-delay {
    display: none;
}

.black-btn {}

.prices-container {
    overflow: auto;
    display: flex;
    gap: 17px;
    padding: 0 0 20px;
    margin: 75px 0 40px 0;
}

.price-card {
    background: #000000;
    min-width: 290px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &:nth-child(2) .price-name {
        position: relative;
        left: -3%;
    }
}

.price-name {
    text-align: center;
    font-weight: 800;
    font-size: $text-64;
    line-height: 90%;
    color: $mainColor;
    text-shadow: 0px 4px 84px rgba(203, 253, 0, 0.32);
    transform: rotate(-6.67deg);
    margin-bottom: 20px;
}

.xs-text {
    position: relative;
    font-weight: 400;
    font-size: $text-16;
    line-height: 135%;
    color: #E4E4E4;
    margin: 10px 0;
    &::after {
        content: '';
        width: 100%;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        height: 1px;
        background-color: #1F1F1F;
    }
    &:last-child::after {
        display: none;
    }
}

.old-new-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

.old-price {
    font-weight: 400;
    font-size: $text-32;
    line-height: 156%;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    &::after {
        content: '';
        width: 110%;
        height: 3px;
        background-color: $mainColor;
        position: absolute;
        left: -5%;
        top: 50%;
    }
}

.new-price {
    width: 100%;
}