.services {
    margin: 0 0 40px 0;
    & .container {
        position: relative;
        z-index: 1;
        & img {
            position: absolute;
            top: -40px;
            right: 10px;
            z-index: -1;
            scale: .8;
        }
        & .pay-delay {
            margin: 30px 0 0 0;
            display: block;
        }
    }
}

.heading {
    font-weight: 800;
    font-size: $text-48;
    text-transform: uppercase;
    color: #000000;
}

.services-container {
    display: flex;
    overflow: auto;
    gap: 12px;
    padding: 0 0 20px 0;
}

.service-unit {
    min-width: 70vw;
    min-height: 330px;
    padding: 16px;
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    & h4 {
        font-weight: 400;
        font-size: $text-20;
        line-height: 120%;
        flex-grow: 1;
    }
    & p {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
    }
    & span {
        font-weight: 400;
        font-size: $text-16;
        line-height: 150%;
        color: #5C5C5C;
    }
    &:last-child {
        background: $mainColor;
    }
}

h4.service_smaller,
p.service_smaller {
    font-weight: 700;
    font-size: $text-32;
    line-height: 120%;
    color: #000000;
}