@media screen and (min-width: 430px) {
    .footer-images {
        position: static;
    }
    .footer-links .yellow-btn,
    .footer-links .black-btn {
        padding: 15px 40px;
    }
}

@media screen and (min-width: 620px) {
    .hero-text h2 {
        font-size: $text-18;
    }
    .date-num p {
        left: 50%;
        transform: translateX(-50%) rotate(-4.19deg);
        width: 350px;
    }
    .price-card {
        min-width: 350px;
    }
    .service-unit {
        min-width: 40vw;
    }
    .matrix .container .heading::after {
        left: 50%;
        top: -70px;
    }
    .slider_item {
        width: 40vw;
    }
    .feedback .container .heading::after {
        left: 55%;
    }
}

@media screen and (min-width: 768px) {
    .hero-text {
        & .grey-btn,
        .yellow-btn {
            width: 330px;
            margin: 10px auto;
        }
    }
    .black-btn {
        display: block;
        margin: 0 auto 15px auto;
        width: fit-content;
    }
    .matrix {
        margin: 0 0 80px 0;
    }
    .slider_item {
        min-width: 280px;
        width: 280px;
        height: 603px;
    }
    .footer-images {
        text-align: center;
        & img {
            max-width: 90%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .heading {
        font-size: 96px;
        line-height: 90px;
        /* or 94% */
    }
    .services .container .heading {
        width: 90%;
        margin: 0 0 80px 0;
        margin-left: auto;
        &+img {
            scale: 1.2;
            right: 76%;
        }
    }
    .hero {
        background: #000;
        & .container {
            justify-content: center;
        }
    }
    .hero-text {
        max-width: 55%;
    }
    .hero-image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 45%;
        height: 100%;
        object-fit: cover;
    }
    .date h3 {
        font-size: 200px;
    }
    .date .date-num p {
        top: 80%;
        left: 55%;
        scale: 1.1;
    }
    .service-unit {
        min-width: 30vw;
    }
    .services .container .pay-delay {
        display: flex;
        gap: 20px;
        & .black-btn {
            flex-shrink: 0;
        }
    }
    .matrix {
        position: relative;
        z-index: 0;
        padding: 50px 0;
        & .container {
            flex-direction: row;
            & .heading {
                min-width: 50%;
                z-index: 1;
                &::after {
                    left: 7%;
                    top: -70px;
                    z-index: -1;
                    scale: 1;
                }
            }
        }
    }
    .feedback .container .heading {
        margin-left: auto;
        width: 600px;
        &::after {
            scale: 1;
            top: -50px;
        }
    }
    .footer .container {
        flex-direction: row;
        padding: 150px 0 50px;
        & .footer-text {
            max-width: 40%;
            & .footer-links {
                margin: 50px 0 0 0;
                display: flex;
                align-items: flex-start;
                & a {
                    margin: 0;
                    min-width: 350px;
                    max-width: 400px;
                }
            }
        }
        & .footer-images {
            max-width: 100%;
        }
    }
    .footer .container>.footer-links {
        display: none;
    }
}

@media screen and (min-width: 1140px) {
    .hero-text h1 {
        font-size: 96px;
    }
    .hero-text .grey-btn,
    .hero-text .yellow-btn {
        margin: 10px 0;
    }
    .services .container .pay-delay {
        display: none;
    }
    .date {
        display: flex;
        justify-content: space-between;
        & .date-num {
            margin: 0 0 0 10px;
        }
        & .pay-delay {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            width: 340px;
            & .black-btn {
                margin: 0 0 20px 0;
            }
        }
    }
    .definition {
        flex-direction: row;
    }
    .prices-container {
        margin: 90px 0 40px 0;
    }
    .price-card {
        padding: 20px;
    }
    .services-container {
        overflow: visible;
        flex-wrap: wrap;
    }
    .service-unit {
        min-width: 20%;
        width: 24%;
    }
}